/* body{
    background-color: #000;
}

p, a, h3 ,hr {
    color:#fff;
} */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    
}

/* test{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "close semesters edit";
}

close{
    grid-area: close;
    background-color: red;
    justify-content: right;
    align-self: right;
} */